{% extends 'shared/layout.html' %}

{% block extrajs %}
    <script 
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" 
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" 
        crossorigin="anonymous" 
        referrerpolicy="no-referrer">
    </script>
{% endblock %}


{% block maincontent %}
    <div id="login-text" class="lisu-text">
        <h1>Login</h1>
        <p>
            Please login by filling out the fields below,<br>
            or go to the sign up page by clicking the button.            
        </p>
        <hr>
    </div>
    <br><br>

    <!-- Login form -->
    <form id="login-form" class="lisu-form" method="post" enctype='multipart/form-data'>
        <input id="li-email"    class="textbox" type="text" name="email"    placeholder="Your e-mail..."   title="E-mail of user">
        <input id="li-password" class="textbox" type="text" name="password" placeholder="Your password..." title="Password of user">
        <input id="li-submit"   class="submit-btn"          type="button"   value="Login"                  title="Submit button for login form">
    </form>
    <p id="login-fail-text" class="fail-text">You're cool if you find this.</p>

    <!-- Sign up button -->
    <input id="su-button" type="button" value="Sign Up" title="Button to take user to sign up page">
{% endblock %}